.signUp {
  .formContainer {
    padding: 1rem;

    .box1,
    .box2,
    .box3,
    .box4 {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
    .link {
      text-align: center;
    }
    .recaptchaBox {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
    }
  }
}
