.signUp {
  width: 35rem;
  margin-top: -0.1rem;
  padding: 1rem;

  .formContainer {
    padding: 1rem;
    width: 30rem;
    margin-left: -3.5rem;
    border: thin solid;
    margin-top: 0rem;

    .box1,
    .box2,
    .box3,
    .box4 {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
    .link {
      text-align: center;
    }
    .recaptchaBox {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
    }
  }
}
