.searchResultsPage{
    flex: 1;
    display: flex;
    flex-direction: column;
    .search{
        background: #EEEEEE;
        padding: 1rem;
        display: flex;
        justify-content: center;
    }

    .searResultsMain{
        flex: 1;
        display: flex;
        .filter{
            flex: 1;
            display: flex;
        }
        .searchRresults{
            flex: 8;
        }
    }
}