.signIn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    text-align: center;
    padding: 2rem;
    gap: 1rem;
    
     
    .signInForm{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .submitButton{
            width: 100%;
        }
    }
       

    .actions{
      
        display: flex;
        justify-content: space-between;
    }
}