.bookingsCard {
  flex: 1;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  align-items: center;
  flex-direction: column;

  .cards {
    display: flex;
    gap: 1rem;

    .cities {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      p {
        font-weight: bolder;
      }
    }
  }
}
