.homePage{
    flex: 1;
    display: flex;
    flex-direction: column;
    .search{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url("../../assets/images/bg1-removebg-preview.png") center/cover no-repeat;
    }

    .bookings{
        flex: 1;
    }
}
