.search {
  min-width: 50%;

  .searchForm {
    display: flex;

    .formInput {
      flex: 2;
    }

    .passenger {
      flex: 1;
    }

    .actions {
      display: flex;
      button {
        flex: 1;
      }
    }
  }
}

@media (max-width: 390px) or (max-width: 412px) {
  .searchForm {
    flex-direction: column;
  }
}
