.signUp {
  width: 30%;
  .formContainer {
    padding: 1rem;

    .link {
      text-align: center;
      font-style: italic;

      :hover {
        color: darkred;
      }
    }
  }
}
@media (max-width: 50rem) {
  .signUp {
    min-width: 22rem;
  }
}
